# Build artifacts
build/
managed_components/
sdkconfig.old

# Virtual Environments & Python Cache
venv/
.venv/
__pycache__/

# Output Logs & Executables
*.csv
*.exe
dist/

# Environment variables containing credentials
.env

# IDE Settings
.vscode/